.matches-wrapper {
  width: 100%;
  min-height: calc(100vh - 60px);
  border: 1px solid lightgray;
  padding: 20px;
  box-sizing: border-box;
}
.match-card {
  border: 1px solid grey;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s background-color;
  background-color: white;
}
.match-card:hover {
  transition: 0.5s;
  background-color: yellow;
}
