.matches-wrapper {
  width: 100%;
  min-height: calc(100vh - 60px);
  border: 1px solid lightgray;
  padding: 20px;
  box-sizing: border-box;
}
.filter-buttons {
  width: 90%;
  margin: 0 auto;
}
button {
  background-color: white;
  margin: 0 5px 5px 0;
}
.match-card {
  border: 1px solid grey;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.5s;
  background-color: white;
}
.match-card:hover {
  transition: background-color 0.5s, transform 0.5s;
  transform: scaleX(1.02);
  background-color: yellow;
}
