<div class="matches-wrapper">
  <h2>Matches of {{ selectedCompetition }}: ({{ filteredMatches.length }})</h2>
  <div class="filter-buttons">
    <button (click)="filterMatchesByStatus('all')">Show All</button>
    <button
      (click)="filterMatchesByStatus('finished')"
      [style.backgroundColor]="finishedButtonColor"
    >
      Show Finished
    </button>
    <button (click)="filterMatchesByStatus('postponed')">Show Postponed</button>
    <button (click)="filterMatchesByStatus('scheduled')">Show Scheduled</button>
    <button (click)="filterMatchesByStatus('paused')">Show Paused</button>
    <button
      (click)="filterMatchesByStatus('live')"
      [style.backgroundColor]="liveButtonColor"
    >
      Show Live
    </button>
    <button (click)="filterMatchesByStatus('in-play')">Show In-Play</button>
    <button (click)="filterMatchesByStatus('awarded')">Show Awarded</button>
  </div>
  <div
    class="match-card"
    *ngFor="let match of filteredMatches"
    (click)="onMatchSelect(match.id)"
  >
    <p>
      {{ match.homeTeam.name }} <mark class="bold">VS</mark>
      {{ match.awayTeam.name }} -
      <mark class="bold">{{ match.status }}</mark>
    </p>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
