.details-wrapper {
  width: 100%;
  min-height: calc(100vh - 60px);
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-card {
  width: 70%;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: var(--light-blue);
  margin: 20px;
}
.upper-section {
  border: 1px solid grey;
  border-radius: 8px 8px 0 0;
}
.upper-section-title {
  width: 30%;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: var(--dark-blue);
}

.lower-section {
  min-height: 200px;
  border: 1px solid grey;
  border-radius: 0 0 8px 8px;
  display: flex;
  text-align: center;
}
.lower-section-left {
  width: 20%;
  background-color: var(--dark-blue);
}
.lower-section-mid {
  width: 60%;
  border: 1px solid lightgray;
}
.lower-section-mid img {
  width: 60%;
}

.lower-section-right {
  width: 20%;
  background-color: var(--dark-blue);
}
