.competitions-wrapper {
  width: 100%;
  min-height: calc(100vh - 60px);
  border: 1px solid lightgray;
  padding: 20px;
  box-sizing: border-box;
}
.upper-part {
  width: 90%;
  margin: 0 auto;
}
.upper-part button {
  margin: 10px 10px 0 0;
}
.competition-card {
  width: 90%;
  margin: 10px auto;
  border: 1px solid grey;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
}
.competition-card:hover {
  background-color: yellow;
  transform: scale(1.02);
  transition: 0.5s;
}
