<div class="competitions-wrapper">
  <h2>List of competitions...</h2>
  <p class="grey">
    NOTE: Because of free account restriction, you will see matches of
    competition only if you filter down result by clicking on "Show Accessible
    Competitions button"
  </p>
  <div class="upper-part">
    <button (click)="showAllCompetitions()">
      Show All Competitions: {{ allCompetitions.length }}
    </button>
    <button (click)="showAccessibleCompetitions()">
      Show Accessible Competitions: {{ accessibleCompetitions.length }}
    </button>
  </div>

  <div
    class="competition-card lovelyShadow"
    *ngFor="let competition of displayedCompetitions"
    (click)="onSelectCompetition(competition.id, competition.name)"
  >
    <h3>{{ competition.name }} of {{ competition.area.name }}</h3>
    <p>{{ returnDate(competition) }}</p>
  </div>
</div>
