/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  --light-blue: rgb(192, 228, 250);
  --dark-blue: rgb(104, 157, 190);
}

.grey {
  color: grey;
}
.bold {
  font-weight: bold;
  background: transparent;
}
.lightItalic {
  font-weight: lighter;
  font-style: italic;
  background: transparent;
}

.lovelyShadow {
  -webkit-box-shadow: 4px 4px 4px 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 4px 4px 4px 0px rgba(143, 143, 143, 1);
  box-shadow: 4px 4px 4px 0px rgba(143, 143, 143, 1);
}
