.wrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./../assets/bg2.jpg");
  background-repeat: repeat;
}

.header {
  background-color: steelblue;
  color: white;
  padding: 10px;
  font-size: 26px;
  text-align: center;
}
.logo {
  color: white;
  transition: 1s;
  cursor: pointer;
  outline: none;
}
.logo:hover {
  color: yellow;
  transition: 1s;
  transform: rotateX(360deg);
}

i {
  margin-right: 20px;
}
