.wrapper {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: steelblue;
  color: white;
  padding: 10px;
  font-size: 26px;
}
.logo {
  color: white;
  transition: 1s;
  cursor: pointer;
  outline: none;
}
.logo:hover {
  color: yellow;
  transition: 1s;
}
